.btn {
  width: 60px;
  height: 60px;
  background: rgb(226, 174, 140);
  display: inline-block;
  text-align: center;
  line-height: 60px;
  user-select: none;
  font-size: 26px;
  font-family: "Indie Flower", cursive;
  font-family: "Teko", sans-serif;
}

.btn:hover {
  background: #f70;
  color: #fff;
}

#calc-wrap {
  padding: 150px;
  width: 100%;
  text-align: center;
}

#calc {
  width: 240px;
  display: inline-block;
}

#inputVal {
  width: 100%;
  border: 5px solid rgb(63, 94, 136);
  font-size: 25px;
  resize: vertical;
  font-family: "Indie Flower", cursive;
  font-family: "Teko", sans-serif;
}
#div1 {
  font-size: 60px;
  margin-left: -18.6%;
  position: absolute;
}
#div2 {
  font-size: 60px;
  position: absolute;
}
